.hero {
  &__container {
    display: flex;
    @include adaptiveValue("gap", 60, 30);
    @media (max-width: $mobile) {
      flex-direction: column;
      gap: rem(20);
    }
  }
  &__data {
    flex: 0 0 auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include adaptiveValue("padding-top", 120, 50, 3, 1920, 768);
    @media (max-width: $mobile) {
      padding-top: 0;
    }
  }
  &__title {
    @include adaptiveValue("font-size", 90, 40);
    line-height: math.div(120, 90);
    margin-bottom: rem(10);
    position: relative;
    &::before {
      top: 0;
      @include adaptiveValue("width", 208, 92);
    }
    @media (max-width: $mobile) {
      margin-bottom: 0;
    }
  }
  &__subtitle {
    font-weight: 300;
    @include adaptiveValue("font-size", 28, 16);
    line-height: math.div(38, 28);
    margin-bottom: rem(60);
    @media (max-width: $mobile) {
      margin-bottom: 0;
    }
  }
  &__image {
    position: relative;
    @media (max-width: $mobile) {
      margin-bottom: rem(20);
    }
    img {
      max-width: 100%;
    }
  }
  &__button {
    @media (max-width: $mobileSmall) {
      width: 100%;
    }
  }
  .socials {
    @media (max-width: $mobile) {
      position: absolute;
      bottom: rem(5);
      left: rem(10);
    }
    &__title {
      font-weight: 500;
      margin-bottom: rem(10);
      @media (max-width: $mobile) {
        display: none;
      }
    }
    &__list {
      display: flex;
      align-items: center;
      gap: rem(30);
    }
    &__link {
      display: flex;
      align-items: center;
      gap: rem(10);
      font-size: rem(20);
      @media (max-width: $mobile) {
        fill: #fff;
      }
    }
  }
}

.about {
  background-color: #f4f8f9;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: rem(15);
    @media (max-width: $tablet) {
      flex-direction: column;
      row-gap: rem(50);
    }
  }
  &__title {
    flex: 1 1 auto;
  }
  &__content {
    flex: 0 1 rem(780);
  }
  &__item {
    display: flex;
    align-items: center;
    gap: rem(25);
    &:not(:last-child) {
      margin-bottom: rem(45);
    }
    @media (max-width: $mobileSmall) {
      flex-direction: column;
      align-items: flex-start;
      gap: rem(10);
    }
  }
  &__item-icon {
    @include adaptiveValue("font-size", 75, 55);
    @include adaptiveValue("height", 75, 55);
  }
  &__item-text {
    line-height: math.div(23, 16);
  }
}

.classes {
  &__container {
    display: flex;
    align-items: center;
    gap: rem(20);
    @media (max-width: $tablet) {
      flex-direction: column;
    }
  }
  &__title {
    margin-bottom: rem(60);
    text-transform: uppercase;
    white-space: nowrap;
    @media (max-width: $mobileSmall) {
      margin-bottom: rem(0);
    }
  }
  &__data {
    flex: 0 0 percent(480, 1180);
    @media (max-width: $tablet) {
      display: flex;
      justify-content: space-between;
      gap: rem(30);
      flex: 100%;
    }
    @media (max-width: $mobileSmall) {
      flex-direction: column;
    }
  }
  &__text {
    line-height: math.div(23, 18);
    &:not(:last-child) {
      margin-bottom: rem(30);
    }
    &:first-child {
      margin-bottom: rem(50);
      @media (max-width: $mobileSmall) {
        margin-bottom: rem(30);
      }
    }
  }
  &__text--last {
    padding-top: rem(30);
    margin-top: auto;
    border-top: rem(1) solid #2a343e;
    @media (max-width: $mobile) {
      padding-top: rem(30);
    }
    span {
      font-style: italic;
    }
  }
  &__image img {
    max-width: 100%;
  }
}

.benefits {
  &__container {
    display: flex;
    justify-content: space-between;
    @include adaptiveValue("gap", 60, 30);
    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }
  &__data {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: rem(30);
    flex: 0 0 percent(480, 1180);
  }
  &__image img {
    max-width: 100%;
  }
  &__content {
    margin-top: rem(-15);
    @media (max-width: $mobile) {
      margin-top: 0;
    }
  }
  &__list {
    counter-reset: numbers;
    list-style: none;
  }
  &__item {
    padding: rem(22) 0;
    position: relative;
    font-weight: 500;
    span {
      line-height: math.div(26, 18);
    }
    @media (max-width: $mobile) {
      padding: rem(15) rem(0) rem(15) rem(25);
    }
    &::before {
      counter-increment: numbers;
      content: counter(numbers);
      position: absolute;
      top: rem(-15);
      left: rem(-30);
      @include adaptiveValue("font-size", 100, 85);
      font-weight: 600;
      color: #ebf4f7;
      z-index: -1;
      font-family: "Playfair Display";
      @media (max-width: $mobile) {
        left: rem(-5);
        top: rem(-5);
      }
    }
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 60, 30);
    }
  }
}

.plans {
  &__title {
    text-align: center;
    @include adaptiveValue("margin-bottom", 60, 30);
    &::before {
      display: none;
    }
  }
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $mobile) {
      flex-direction: column;
      gap: rem(15);
    }
  }
  &__item {
    padding: rem(30);
    @include adaptiveValue("padding", 30, 15, 3, 1240, 768);
    width: 100%;
    border: rem(1) solid transparent;
    transition: all 0.3s ease 0s;
    @media (max-width: $mobile) {
      border: rem(1) solid #010101;
    }
    &._active {
      border: rem(1) solid #010101;
      .plans__button {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &__item-title {
    font-weight: 700;
    @include adaptiveValue("margin-bottom", 60, 30);
    text-align: center;
  }
  &__button {
    @media (min-width: $mobile) {
      opacity: 0;
      visibility: hidden;
    }
  }
  .item-data {
    &__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: rem(15);
      padding-bottom: rem(5);
      border-bottom: rem(1) solid #010101;
      margin-bottom: rem(30);
      font-size: rem(18);
      @include adaptiveValue("font-size", 18, 15, 3, 1240, 768);
    }
  }
}

.education {
  background-color: #f4f8f9;
  &__block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: rem(30);
    margin-bottom: rem(80);
    @media (max-width: $tablet) {
      flex-direction: column;
    }
  }
  &__data {
    @media (min-width: $tablet) {
      flex: 0 1 rem(780);
    }
  }
  &__title {
    @media (min-width: $tablet) {
      flex: 0 1 rem(230);
    }
  }
  &__data-item {
    display: flex;
    align-items: flex-start;
    @include adaptiveValue("gap", 90, 30, 1240, 992);
    &:not(:last-child) {
      margin-bottom: rem(30);
    }
    @media (max-width: $mobile) {
      flex-direction: column;
      gap: rem(15);
      &:not(:last-child) {
        margin-bottom: rem(40);
      }
    }
  }
  &__data-period {
    font-weight: 700;
    max-width: rem(160);
    width: 100%;
  }
  &__data-name {
    font-weight: 700;
    margin-bottom: rem(5);
  }
}

.progress {
  &__title {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: rem(60);
    &::before {
      display: none;
    }
  }
  &__slide {
    background: #f4f8f9;
    padding: rem(10);
    img {
      max-width: 100%;
      @media (max-width: $mobileSmall) {
        max-height: rem(420);
      }
    }
  }
}

.callback {
  &__container {
    display: flex;
    align-items: flex-start;
    gap: rem(40);
    @media (max-width: $tablet) {
      flex-direction: column;
      @include adaptiveValue("gap", 60, 30);
    }
  }
  &__data-title {
    @include adaptiveValue("font-size", 28, 24);
    line-height: math.div(38, 28);
    @include adaptiveValue("margin-bottom", 30, 15);
    font-weight: 300;
  }
  &__form-inputs {
    display: flex;
    align-items: center;
    gap: rem(20);
    margin-bottom: rem(30);
    @media (max-width: $mobileSmall) {
      flex-direction: column;
      margin-bottom: rem(20);
    }
  }
  &__text {
    width: 100%;
    display: block;
    height: rem(120);
    @include adaptiveValue("margin-bottom", 60, 20);
  }
  &__content {
    display: flex;
    gap: rem(20);
    @media (max-width: $mobile) {
      flex-direction: column;
      width: 100%;
    }
  }
  &__data {
    align-self: flex-end;
    max-width: 100%;
    @media (max-width: $tablet) {
      align-self: center;
    }
  }
  &__data-img {
    margin-bottom: rem(15);
    img {
      max-width: 100%;
    }
  }
  .socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(15);
    &__link {
      display: flex;
      align-items: center;
      gap: rem(15);
      font-weight: 500;
      transition: color 0.2s ease 0s;
      @media (any-hover: hover) {
        &:hover {
          color: #323030;
        }
      }
      svg {
        width: rem(24);
        height: rem(24);
        fill: currentColor;
      }
    }
  }
}
